.application {
    background-color: $main-color;
    color: $white;

    &__heading {
        font-size: rem(38);
    }
    &__desc {
        margin-bottom: 60px;
    }
}

.process {
    &__item {
        margin-bottom: 15px;
    }
    &__num {
        display: inline-block;
        text-align: center;
        line-height: 40px;
        width: 40px;
        height: 40px;
        border: 2px solid $white;
        border-radius: 40px;
        margin-right: 15px;
    }
    &__list {
        text-align: left;
        width: 70%;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}

.terms-of-use {
    padding: 30px 40px;
    background-color: $main-color-light;
    width: 80%;
    max-height: 300px;
    max-width: 850px;
    margin: 0 auto 40px;
    overflow: scroll;

    &__content {
        text-align: left;
    }
}

.btn {
    background-color: $accent-color;
    color: $white;
    border-radius: 50px;
    padding: 20px 60px;
    font-weight: 500;
    position: relative;

    &::hover {
        background-color: $accent-color_hover;
    }

    &__wrap {
        display: flex;
        align-items: center;

        &--center {
            justify-content: center;
        }
    }
    &--last-arrow,
    &--right-arrow {
        &::after {
            position: absolute;
            content: "\f078";
            right: 8%;
            font-size: rem(20);
            transition: all 0.4s;
        }
    }

    &--last-arrow {
        &::after {
            content: "\f078";
        }
    }
    &--right-arrow {
        &::after {
            content: "\f105";
        }
    }

    &--lg {
        width: 600px;
        max-width: 80%;
    }

    &--small {
        padding: 8px 40px;
    }
}
.cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 -10px;
}
.card {
    background-color: $white;
    max-width: 280px;
    margin: 0 10px;
    padding: 40px 20px;
    border-radius: 10px;

    &__desc {
        font-size: rem(14);
        text-align: left;
        line-height: 1.6;
    }
    &__img {
        margin: 0 auto;
        max-width: 140px;
        height: 120px;
    }
    &__title {
        font-size: rem(20);
        font-weight: 600;
        color: $main-color;
        margin: 20px 0 10px;
        text-align: center;
    }
}

.concept {
}
.conditions {
    &__img {
        max-width: 450px;
    }

    &__cards {
        margin-top: 30px;
    }
}
.flex {
    display: flex;
    &__item {
        margin: auto;
    }
}
.font-marker {
    background: linear-gradient(transparent 60%, $accent-color_light 60%);
}

.landscape-card {
    background-color: $white;
    max-width: 380px;
    padding: 50px 30px;
    margin: 0 15px;
    border-radius: 10px;

    &__desc {
        font-size: rem(15);
        line-height: 1.6;
        text-align: left;
    }
    &__img {
        margin: 0 auto;
        width: 280px;
        height: 80px;
        margin-bottom: 20px;

        &--small {
            width: 250px;
        }
    }
}
.landscape-cards {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}
.management-member {
    &__img {
        width: 150px;
        height: 150px;
        margin-bottom: 10px;

        img {
            width: 150px;
            height: 150px;
            object-fit: cover;
            border-radius: 150px;
        }
    }
    &__item {
        margin: 0 20px;
    }
    &__list {
        display: flex;
        justify-content: center;
        margin: 0 -20px;
    }
    &__name {
    }
}
.money {
    margin: 0 auto;
    &__desc {
    }
    &__img {
        max-width: 500px;
        margin: 0 auto 10px;
    }

    &__table {
        width: 80%;
        margin: 0 auto;
        border-top: 4px solid #d6cbb5;

        &-content {
            text-align: right;
        }
        &-head {
            font-weight: 500;
            text-align: left;
        }

        &-content,
        &-head {
            padding: 20px 15px;
        }

        &-row {
            width: 100%;
            border-bottom: 1px solid #d6cbb5;
        }
    }
}
.page-top {
}
.planning {
}

.recommend {
}
.review-card {
    display: flex;
    background-color: $white;
    padding: 30px 25px;
    margin: 10px 15px;
    border-radius: 10px;
    box-shadow: 6px 6px #d6cbb5;

    &__icon {
        width: 50px;
        margin-right: 15px;

        img {
            border-radius: 50px;
        }
    }
    &__comment {
        line-height: 2;
    }
    &-content {
        text-align: left;
    }
    &__reviewer {
        f-t-size: rem(15);
        line-height: 1.2;
        color: #999;
    }
}
.review-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px -15px;
}
.section {
    padding: 50px 0 200px;

    &__inner {
        max-width: 650px;
    }

    &__content {
        line-height: 1.8;
        margin-bottom: 50px;
    }
    &__desc {
        margin-bottom: 30px;
    }
    &__heading {
        font-size: rem(44);
        color: $main-color;
        line-height: 1.4;
        margin-bottom: 20px;

        &--small {
            font-size: rem(38);
        }
        &--white {
            color: $white;
        }
    }

    &__heading-small {
        display: block;
        color: $base-font;
        font-size: rem(24);
        line-height: 2.5;

        &--white {
            color: $white;
        }
    }
}
.service {
    margin: auto;

    &__content {
        margin-bottom: 150px;
    }

    &__img {
        max-width: 450px;
    }
}
.sns {
    &__item {
    }
}
.sub {
    margin-bottom: 80px;

    &__content {
    }
    &__desc {
        margin-bottom: 40px;
        line-height: 1.8;
    }
    &__heading {
        color: $main-color;
        font-size: rem(32);
        line-height: 1.8;
        margin-bottom: 20px;
    }
}

.top {
    display: fle flex;

    &__flex {
        display: flex;
    }
    &__desc {
        line-height: 1.8;
        margin-bottom: 30px;
    }
    &__img {
        max-width: 490px;
    }
    &__main {
        padding: 140px 0;
        margin-right: 50px;
        max-width: 700px;
    }
    &__mv {
        flex-grow: 1;
        margin: auto;
    }
}
.heading {
    font-size: rem(50);
    color: $main-color;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 30px;

    &--small {
        display: block;
        margin-bottom: 20px;
        color: $base-font;
        font-size: rem(24);
        font-weight: 700;
        letter-spacing: 0.05em;
    }
}

.use-tool {
}

.center {
    text-align: center;
}
