.application {
    color: $white;
    &__heading {
        font-size: rem(38);
    }
    &__desc {
        margin-bottom: 60px;
    }
}
@include sp {
    .application {
        &__desc {
            margin-bottom: 20px;
        }
    }
}

.process {
    &__item {
        margin-bottom: 15px;
    }
    &__num {
        display: inline-block;
        text-align: center;
        line-height: 40px;
        width: 40px;
        height: 40px;
        border: 2px solid $white;
        border-radius: 40px;
        margin-right: 15px;
    }
    &__list {
        text-align: left;
        width: 70%;
        max-width: 700px;
        margin: 0 auto;
        margin-bottom: 60px;
    }
}
@include tablet {
    .process {
        &__list {
            width: 100%;
        }
    }
}
@include sp {
    .process {
        &__num {
            line-height: 30px;
            width: 30px;
            height: 30px;
        }
        &__list {
            margin-bottom: 40px;
        }
    }
}

.terms-of-use {
    padding: 30px 40px;
    background-color: $main-color-light;
    width: 80%;
    max-height: 300px;
    max-width: 850px;
    margin: 0 auto 40px;
    overflow: scroll;

    &__content {
        text-align: left;
    }
}
@include tablet {
    .terms-of-use {
        width: 100%;
    }
}
@include sp {
    .terms-of-use {
        padding: 20px 30px;
    }
}

.btn {
    background-color: $accent-color;
    color: $white;
    border-radius: 50px;
    padding: 20px 60px;
    font-weight: 500;
    position: relative;

    &::hover {
        background-color: $white;
        // background-color: $accent-color_hover;
    }

    &__wrap {
        display: flex;
        align-items: center;

        &--center {
            justify-content: center;
        }
    }
    &--last-arrow,
    &--right-arrow {
        &::after {
            position: absolute;
            content: "\f078";
            right: 8%;
            font-size: rem(20);
            transition: all 0.4s;
        }
    }

    &--last-arrow {
        &::after {
            content: "\f078";
        }
    }
    &--right-arrow {
        &::after {
            content: "\f105";
        }
    }

    &--lg {
        width: 600px;
        max-width: 80%;
    }

    &--small {
        padding: 8px 40px;
    }
}
@include sp {
    .btn {
        width: 100%;
        text-align: center;

        &--lg {
            max-width: 100%;
        }

        &--small {
            padding: 8px 20px;
        }
    }
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    margin: 0 -10px;
}
.card {
    background-color: $white;
    max-width: calc((100% - 60px) / 4);
    margin: 0 10px;
    padding: 40px 20px;
    border-radius: 10px;
    z-index: 1;

    &__desc {
        font-size: rem(14);
        text-align: left;
        line-height: 1.6;
    }
    &__img {
        margin: 0 auto;
        max-width: 140px;
        height: 120px;
    }
    &__title {
        font-size: rem(20);
        font-weight: 600;
        color: $main-color;
        margin: 20px 0 10px;
        text-align: center;
    }
}

@include tablet {
    .cards {
        flex-wrap: wrap;
    }

    .card {
        max-width: calc((100% - 60px) / 2);
        margin-bottom: 30px;
    }
}

@include sp {
    .card {
        max-width: 100%;
    }
}

.conditions {
    &__img {
        max-width: 450px;
    }

    &__cards {
        margin-top: 30px;
    }
}
@include tablet {
    .conditions {
        &__img {
            margin: 0 auto 50px;
        }
    }
}

.flex {
    display: flex;
    &__item {
        margin: auto;
    }
}
@include tablet {
    .flex {
        display: block;
    }
}

.font-marker {
    background: linear-gradient(transparent 60%, $accent-color_light 60%);
    font-weight: 600;
}

.landscape-card {
    background-color: $white;
    width: calc((100% - 60px) / 3);
    max-width: 380px;
    padding: 50px 30px;
    margin: 0 15px;
    border-radius: 10px;

    &__desc {
        font-size: rem(15);
        line-height: 1.6;
        text-align: left;
    }
    &__img {
        margin: 0 auto;
        max-width: 280px;
        height: 80px;
        margin-bottom: 20px;

        &--small {
            max-width: 250px;
        }
    }
}
.landscape-cards {
    display: flex;
    justify-content: space-between;
    margin: 0 -15px;
}

@include tablet {
    .landscape-cards {
        flex-wrap: wrap;
    }

    .landscape-card {
        width: 100%;
        max-width: 100%;
        margin-bottom: 30px;

        &__desc {
            text-align: center;
        }
    }
}

.management-member {
    &__img {
        width: 70px;
        height: 70px;
        margin-bottom: 10px;

        img {
            width: 70px;
            height: 70px;
            object-fit: cover;
            border-radius: 70px;
        }
    }
    &__item {
        margin: 0 20px;
    }
    &__list {
        display: flex;
        justify-content: center;
        margin: 0 -20px;
    }
    &__name {
    }
}
@include tablet {
    .management-member {
        &__list {
            // flex-direction: column;
        }

        &__item {
            // margin: 0 20px 20px;
        }
        &__img {
            // margin: 0 auto 10px;
        }
    }
}

.money {
    &__desc {
    }
    &__img {
        max-width: 500px;
        margin: 0 auto 10px;
    }

    &__table {
        width: 80%;
        margin: 0 auto;
        border-top: 4px solid #d6cbb5;

        &-content {
            text-align: right;
        }
        &-head {
            font-weight: 500;
            text-align: left;
        }

        &-content,
        &-head {
            padding: 20px 15px;
        }

        &-row {
            width: 100%;
            border-bottom: 1px solid #d6cbb5;
        }
    }
}
@include sp {
    .money {
        &__table {
            width: 100%;
        }
    }
}
.review-card {
    display: flex;
    background-color: $white;
    padding: 30px 25px;
    margin: 10px 15px;
    border-radius: 10px;
    box-shadow: 6px 6px #d6cbb5;

    &__icon {
        width: 50px;
        margin-right: 15px;

        img {
            border-radius: 50px;
        }
    }
    &__comment {
        line-height: 2;
    }
    &-content {
        text-align: left;
    }
    &__reviewer {
        font-size: rem(15);
        line-height: 1.2;
        color: #999;
    }
}

@include sp {
    .review-card {
        text-align: left;

        &__comment {
            font-size: rem(16);
            line-height: 1.4;
            margin-bottom: 5px;
        }
        &__reviewer {
            font-size: rem(13);
        }
    }
}

.review-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: -10px -15px;
}
.section {
    &__inner {
        max-width: 650px;
    }

    &__content {
        line-height: 1.8;
        margin-bottom: 50px;
    }
    &__desc {
        margin-bottom: 30px;
    }
    &__heading {
        font-size: rem(44);
        color: $main-color;
        line-height: 1.4;
        margin-bottom: 20px;

        &--small {
            font-size: rem(38);
        }
        &--white {
            color: $white;
        }
    }

    &__heading-small {
        display: block;
        color: $base-font;
        font-size: rem(24);
        line-height: 2.5;

        &--white {
            color: $white;
        }
    }
}
@include sp {
    .section {
        &__heading {
            font-size: rem(26);
            line-height: 1.3;
        }
        &__heading-small {
            font-size: rem(20);
            line-height: 1.4;
        }
    }
}

.service {
    &__content {
        margin-bottom: 150px;
    }

    &__img {
        max-width: 450px;
        margin: 0 auto;
    }
}

@include tablet {
    .service {
        &__content {
            margin-bottom: 100px;
        }
    }
}
@include sp {
    .service {
        &__content {
            margin-bottom: 80px;
        }
    }
}

.sns {
    display: inline-block;
    transform: rotate(90deg);
    position: fixed;
    top: 380px;
    left: 0;
    z-index: 1;

    &__list {
        display: flex;
    }

    &__item {
        position: relative;
        font-size: rem(14);
        letter-spacing: 0.05em;
        max-width: 120px;

        &:first-child {
            margin-right: 60px;
        }

        &:first-child::after {
            position: absolute;
            content: "";
            top: 2px;
            right: -45px;
            width: 1px;
            height: 14px;
            background-color: #333;
        }
    }

    &__icon {
        position: relative;
        display: inline;
    }
}
.twitter {
    &::before {
        position: absolute;
        content: "\f081";
        top: -0.5px;
        left: 10px;
        font-size: rem(20);
        transition: all 0.4s;
        transform: rotate(-90deg);
    }
}
.facebook {
    &::before {
        position: absolute;
        content: "\f082";
        top: -0.5px;
        left: 38px;
        font-size: rem(20);
        transition: all 0.4s;
        transform: rotate(-90deg);
    }
}
.line {
    &::before {
        position: absolute;
        content: "\f3c0";
        top: -0.5px;
        left: 66px;
        font-size: rem(20);
        transition: all 0.4s;
        transform: rotate(-90deg);
    }
}

@include tablet {
    .sns {
        display: none;
    }
}

.sub {
    margin-bottom: 80px;

    &__content {
    }
    &__desc {
        margin-bottom: 40px;
        line-height: 1.8;
    }
    &__heading {
        color: $main-color;
        font-size: rem(32);
        line-height: 1.8;
        margin-bottom: 20px;
    }
}

@include sp {
    .sub {
        &__heading {
            font-size: rem(22);
        }
    }
}

.top {
    &__flex {
        display: flex;
    }
    &__desc {
        line-height: 1.8;
        margin-bottom: 30px;
    }
    &__img {
        max-width: 490px;
    }
    &__main {
        padding: 140px 0;
        margin-right: 50px;
        max-width: 700px;
    }
    &__mv {
        flex-grow: 1;
        margin: auto;
    }
}
@include tablet {
    .top {
        margin-top: 0;

        &__mv {
            display: none;
        }
    }
}
@include sp {
    .top {
        Àù &__main {
            margin-right: 0;
            padding: 50px 0;
        }

        &__desc {
            font-size: rem(14);
        }
    }
}

.heading {
    font-size: rem(52);
    color: $main-color;
    font-weight: 700;
    letter-spacing: 0.02em;
    line-height: 1.2;
    margin-bottom: 30px;

    &--small {
        display: block;
        margin-bottom: 20px;
        color: $base-font;
        font-size: rem(24);
        font-weight: 700;
        letter-spacing: 0.05em;
    }
}

@include tablet {
    .heading {
        &--small {
            margin-bottom: 10px;
        }
    }
}

@include sp {
    .heading {
        font-size: rem(25);
        line-height: 1.5;

        &--small {
            font-size: rem(18);
        }
    }
}

.center {
    text-align: center;
}
